<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2>Iniciar Sesión</h2>
    <div class="form-group">
      <label for="token">Token:</label>
      <input id="token" formControlName="token" type="text" class="form-control" />
    </div>
    <button type="submit" [disabled]="isLoading" class="btn btn-primary">Enviar</button>
  </form>

  <div *ngIf="isLoading" class="spinner">
    <div class="spinner-border" role="status"></div>
  </div>

  <div *ngIf="!isLoading && responseMessage" class="response-message">
    <p>{{ responseMessage }}</p>
  </div>
</div>
