<form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      placeholder="Username"
      name="username"
      required
      formControlName="username"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
      name="password"
      required
      formControlName="password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
