.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}


.login-card {
  --p-card-background: #f9fbfa00 !important;
  --p-card-color: rgba(255, 255, 255, 0.87) !important;
  --p-card-subtitle-color: rgba(0, 0, 0, 0.6) !important;
  --p-card-shadow: 0 2px 1px -1px rgba(32, 32, 32, 0.2), 0 3px 1px 0 rgba(132, 132, 132, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}

.btn:disabled {
  background-color: #6c757d;
  color: #fff;
}


.center-button {
  display: block;
  margin: 0 auto;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 40px;

  color: rgba(0, 0, 0, 0.87) !important;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.87) !important;
}

.form-control {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #ffffff !important;
  color: rgba(0, 0, 0, 0.87) !important;
  border: 1px solid #ced4da !important;
}

.response-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.87) !important;
}

:host ::ng-deep .center-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}